# Android Studio / IntelliJ specific files
*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

# Ignore the ENTIRE .idea folder (Much safer)
/.idea/

# EXCEPTIONS: Keep VCS and Code Styles settings if sharing with a team
!/.idea/vcs.xml
!/.idea/codeStyles/

# OS specific files
.DS_Store
Thumbs.db
